@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Colors 

$mainColor: #1d72c2;
$secondColor: #ffffff;
$thirdColor: #000000;
$fourthColor: #de0028;
$lineColor: #e8e8e8;
$thirdColorOpacity: #000000CC;
$borderColor: #0683f9;
$confirmColor: #429c41;
$selectedColor: #8ec7fc;

// Fonts

$mainFont: 'Open Sans', sans-serif;