@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Colors 

$mainColor: #e37820;
$secondColor: #ffffff;
$thirdColor: #000000;
$fourthColor: #de0028;
$lineColor: #e8e8e8;
$thirdColorOpacity: #000000CC;
$borderColor: #bf6113;
$confirmColor: #429c41;
$selectedColor: #deb695;
$percentage25Color: #1cc1f5;
$percentage50Color: #ffc700;
$percentage75Color: #ff6f00;

// Fonts

$mainFont: 'Open Sans', sans-serif;