@import "../../sass/variables";

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 2rem 4rem 0;
  .add-region-btn {
    background-color: $mainColor;
    border: none;
    border-radius: 0.1rem;
    color: $secondColor;
    cursor: pointer;
    font-family: $mainFont;
    height: 2.63rem;
    margin-right: 0.53rem;
    width: 10.81rem;
  }
  .add-region-btn:hover {
    background-color: $secondColor;
    border: 1px solid $mainColor;
    color: $mainColor;
  }
}