@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.data-container {
  align-items: center;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  padding: 0 1.09rem 0 1.16rem;
}
.data-container .checkbox-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 1rem 1rem 0;
}
.data-container .data-box {
  align-items: center;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
  padding-left: 1.04rem;
  width: 100%;
}
.data-container .data-box .fa-trash {
  display: none;
}
.data-container .data-box .fa-pen {
  display: none;
}
.data-container .data-box .profile-photo {
  border-radius: 100%;
  height: 2rem;
  overflow: hidden;
  width: 2rem;
}
.data-container .data-box .hide-photo {
  display: none;
}
.data-container .data-box .data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.data-container .data-box:nth-last-child(1) {
  padding-left: 0;
  padding-right: 1.04rem;
  text-align: center;
  width: 25%;
}
.data-container .data-box:nth-last-child(1) .fa-ellipsis-h {
  color: black;
  cursor: pointer;
}

.data-container:hover {
  background-color: #e8e8e8;
}
.data-container:hover .data-box .fa-ellipsis-h {
  display: none;
}
.data-container:hover .data-box .fa-trash {
  color: dimgray;
  cursor: pointer;
  display: inline-block;
}
.data-container:hover .data-box .fa-trash:hover {
  color: black;
}
.data-container:hover .data-box .fa-pen {
  color: dimgray;
  cursor: pointer;
  display: inline-block;
  margin-left: 1rem;
}
.data-container:hover .data-box .fa-pen:hover {
  color: black;
}

.active-container {
  background-color: #f0decf;
}

.data-image {
  height: 100%;
  width: 100%;
}

.data-subtitle {
  color: #828282;
  font-size: 0.7rem;
  max-width: 8rem;
}

.hide-subtitle {
  display: none;
}

.data-graph-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.hide-data-graph {
  display: none;
}

.hide-title {
  display: none;
}

.value {
  margin-right: 1rem;
  width: 1.5rem;
}

.interest-bar-container {
  background-color: #cfcfcf;
  border: 1px solid #cfcfcf;
  border-radius: 1.5rem;
  height: 0.4rem;
  min-width: 9rem;
  position: relative;
}
.interest-bar-container .color-0 {
  opacity: 0;
}
.interest-bar-container .color-25 {
  background-color: #1cc1f5;
  border-radius: 1.5rem;
  height: 0.56rem;
  left: -0.08rem;
  position: absolute;
  top: -0.08rem;
  width: 25%;
}
.interest-bar-container .color-50 {
  background-color: #ffc700;
  border-radius: 1.5rem;
  height: 0.56rem;
  left: -0.08rem;
  position: absolute;
  top: -0.08rem;
  width: 50%;
}
.interest-bar-container .color-75 {
  background-color: #ff6f00;
  border-radius: 1.5rem;
  height: 0.56rem;
  left: -0.08rem;
  position: absolute;
  top: -0.08rem;
  width: 75%;
}
.interest-bar-container .color-100 {
  background-color: #de0028;
  border-radius: 1.5rem;
  height: 0.56rem;
  left: -0.08rem;
  position: absolute;
  top: -0.08rem;
  width: 100%;
}/*# sourceMappingURL=DataComponent.css.map */