@import "../../sass/_variables.scss";

.node-bg {
  align-items: center;
  background-color: $thirdColorOpacity;
  display: flex;
  height: 200%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  .node-container {
    align-items: center;
    background-color: $secondColor;
    border-radius: 0.15rem;
    bottom: 42%;
    display: flex;
    flex-direction: column;
    height: 20rem;
    position: fixed;
    width: 25rem;

    .delete-icon {
      height: 7rem;
      margin-top: 1.5rem;
      width: 7rem;
    }

    .confirmation-text {
      margin: 2rem 0;
      text-align: center;
    }

    p {
      color: $thirdColor;
      font-family: $mainFont;
      font-size: 1rem;
      margin: 0;
    }

    .cancel-btn {
      background-color: $mainColor;
      border: none;
      border-radius: 0.1rem;
      color: $secondColor;
      cursor: pointer;
      font-family: $mainFont;
      height: 2.63rem;
      width: 10rem;
      margin-right: 1rem;
    }

    .cancel-btn:hover {
      background-color: $secondColor;
      border: 1px solid $mainColor;
      color: $mainColor;
    }

    .delete-btn {
      background-color: $fourthColor;
      border: none;
      border-radius: 0.1rem;
      color: $secondColor;
      cursor: pointer;
      font-family: $mainFont;
      font-weight: bold;
      height: 2.63rem;
      margin-left: 1rem;
      width: 10rem;
    }

    .delete-btn:hover {
      background-color: $secondColor;
      border: 1px solid $fourthColor;
      color: $fourthColor;
    }
  }
}

.no-active-node {
  display: none;
}