@import "../../sass/_variables.scss";

.no-content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .no-content {
    margin: 8rem 0;
    .no-content-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .icon {
      width: 10rem;
      height: 10rem;
    }
    .no-content-title {
      font-family: $mainFont;
      font-size: 1rem;
      margin-top: 2rem;
      color: $mainColor;
    }
  }
}
