@import "../../sass/_variables.scss";

.checkbox-border {
    border: 2px solid darken($lineColor, $amount: 40);
    border-radius: 0.15rem;
    height: 0.94rem;
    margin-top: 1.2rem;
    position: relative;
    width: 0.94rem;
    .checkbox {
        cursor: pointer;
        height: 1rem;
        opacity: 0.5;
        position: absolute;
        right: -0.22rem;
        top: -0.22rem;
        width: 1rem;
        z-index: 1;
    }
}