@import "../../sass/_variables.scss";

.select-opt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;

  .select-total {
    background-color: lighten($selectedColor, $amount: 10);
    border-radius: 0.1rem;
    color: $borderColor;
    font-family: $mainFont;
    font-size: 0.75rem;
    padding: 0.2rem 0;
    text-align: center;
    width: 7rem;
  }

  .delete-container {
    align-items: center;
    color: $mainColor;
    cursor: pointer;
    display: flex;
    font-family: $mainFont;
    font-size: 0.9rem;

    .fa-trash {
      margin-right: 0.5rem;
    }
  }
}

.hide-opt {
  display: none;
}

.table-border {
  border: 1px solid darken($lineColor, $amount: 15);
  margin-bottom: 1.74rem;
  min-height: 39rem;
  padding-top: 0.72rem;
  width: 100%;

  .title-row {
    align-items: center;
    border-bottom: 1px solid darken($lineColor, $amount: 15);
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    padding: 0 1.09rem 0 1.16rem;

    .checkbox-container {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 1rem 1rem 0;
    }

    .title-column {
      font-family: $mainFont;
      font-size: 0.9rem;
      font-weight: lighter;
      padding-left: 1.04rem;
      width: 100%;
    }

    .title-column:nth-last-child(1) {
      padding-left: 0;
      padding-right: 1.04rem;
      text-align: center;
      width: 25%;
    }
  }

  .fa-sort {
    cursor: pointer;
    margin-left: 0.54rem;
  }
}

.pag-menu {
  color: darken($lineColor, $amount: 50);
  display: flex;
  font-family: $mainFont;
  font-size: 0.9rem;
  height: 1rem;
  justify-content: space-between;
  margin-bottom: 3.51rem;

  .pag-controller {
    align-items: center;
    display: flex;

    .pag-select {
      border: 1px solid $secondColor;
      color: darken($lineColor, $amount: 50);
      cursor: pointer;
      font-family: $mainFont;
      font-size: 0.9rem;
      margin: 0 0.41rem 0 0.95rem;
      outline: none;
    }

    .fa-chevron-down {
      cursor: pointer;
    }
  }

  .pag-number {
    align-items: center;
    display: flex;

    .arrows {
      display: flex;
      justify-content: space-between;
      margin-left: 3.04rem;
      width: 3rem;
    }

    .fa-chevron-left {
      cursor: pointer;
    }

    .fa-chevron-right {
      cursor: pointer;
    }

    .no-active-btn {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}