@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.select-opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.2rem;
}

.select-opt .select-total {
  width: 7rem;
  background-color: #c0e0fd;
  font-size: 0.75rem;
  text-align: center;
  color: #0683f9;
  padding: 0.2rem 0;
  font-family: "Open Sans", sans-serif;
  border-radius: 0.1rem;
}

.select-opt .delete-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #1d72c2;
  font-size: 0.9rem;
  cursor: pointer;
}

.select-opt .delete-container .fa-trash {
  margin-right: 0.5rem;
}

.hide-opt {
  display: none;
}

.table-border {
  border: 1px solid #c2c2c2;
  margin-bottom: 1.74rem;
  min-height: 39rem;
  padding-top: 0.72rem;
  width: 100%;
}

.table-border .title-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c2c2c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.09rem 0 1.16rem;
}

.table-border .title-row .checkbox-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem 1rem 0;
}

.table-border .title-row .title-column {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
  padding-left: 1.04rem;
  width: 100%;
}

.table-border .title-row .title-column:nth-last-child(1) {
  padding-left: 0;
  padding-right: 1.04rem;
  text-align: center;
  width: 25%;
}

.table-border .fa-sort {
  cursor: pointer;
  margin-left: 0.54rem;
}

.pag-menu {
  color: dimgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  height: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.51rem;
}

.pag-menu .pag-controller {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pag-menu .pag-controller .pag-select {
  border: 1px solid #ffffff;
  color: dimgray;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  margin: 0 0.41rem 0 0.95rem;
  outline: none;
  font-size: 0.9rem;
}

.pag-menu .pag-controller .fa-chevron-down {
  cursor: pointer;
}

.pag-menu .pag-number {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pag-menu .pag-number .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 3.04rem;
  width: 3rem;
}

.pag-menu .pag-number .fa-chevron-left {
  cursor: pointer;
}

.pag-menu .pag-number .fa-chevron-right {
  cursor: pointer;
}
/*# sourceMappingURL=DataTable.css.map */