@import "../../sass/_variables.scss";

.table-border {
    border: 1px solid darken($lineColor, $amount: 15);
    min-height: 39rem;
    margin-bottom: 1.74rem;
    width: 100%;
    font-size: 0.9rem;
    font-family: $mainFont;
    border-spacing: unset;
    padding-top: 0.72rem;
    .title-row {
        height: 3.5rem;
    }
}