@import "../../sass/_variables.scss";

.table-border {
    border: 1px solid darken($lineColor, $amount: 15);
    margin-bottom: 1.74rem;
    min-height: 39rem;
    padding-top: 0.72rem;
    width: 100%;
    .title-row {
        align-items: center;
        border-bottom: 1px solid darken($lineColor, $amount: 15);
        display: flex;
        height: 3.5rem;
        justify-content: space-between;
        padding: 0 1.09rem 0 1.16rem;
        .checkbox-container {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0 1rem 1rem 0;
        }
        .title-column {
            font-family: $mainFont;
            font-size: 0.9rem;
            font-weight: lighter;
            padding-left: 1.04rem;
            width: 100%;
        }
        .title-column:nth-last-child(1) {
            padding-left: 0;
            padding-right: 1.04rem;
            text-align: center;
            width: 25%;
        }
    }
    .fa-sort {
        cursor: pointer;
        margin-left: 0.54rem;
    }
}
.pag-menu {
    color: darken($lineColor, $amount: 50);
    display: flex;
    font-family: $mainFont;
    font-size: 0.9rem;
    height: 1rem;
    justify-content: space-between;
    margin-bottom: 3.51rem;
    .pag-controller {
        align-items: center;
        display: flex;
        .pag-select {
            appearance: none;
            border: none;
            color: darken($lineColor, $amount: 50);
            cursor: pointer;
            font-family: $mainFont;
            margin: 0 0.41rem 0 0.95rem;
            outline: none;
        }
        .fa-chevron-down {
            cursor: pointer;
        }
    }
    .pag-number {
        align-items: center;
        display: flex;
        .arrows {
            display: flex;
            justify-content: space-between;
            margin-left: 3.04rem;
            width: 3rem;
        }
        .fa-chevron-left {
            cursor: pointer;
        }
        .fa-chevron-right {
            cursor: pointer;
        }
    }
}