@import "../../sass/variables";

* {
  margin: 0;
}

.company-title-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 4rem 2.7rem;

  .company-title {
    color: $mainColor;
    font-family: $mainFont;
    font-size: 2rem;
    font-weight: bold;
  }

  .add-company-btn {
    background-color: $mainColor;
    border: none;
    border-radius: 0.1rem;
    color: $secondColor;
    cursor: pointer;
    font-family: $mainFont;
    height: 2.63rem;
    margin-right: 0.53rem;
    width: 10.81rem;
  }

  .add-company-btn:hover {
    background-color: $secondColor;
    border: 1px solid $mainColor;
    color: $mainColor;
  }
}

.company-table-container {
  margin: 1.5rem 1.78rem 0 1.72rem;
}